<header>
  <div class="left">
    <h1 i18n="greeting|greeting to the user@@mainHeader">Demo localization project</h1>
    <p i18n="@@headerDescription">Here is an example of using localization in the app in angular driven approach</p>
    <p i18n="@@currentTime">Current time is: {{date | date: 'fullDate'}}</p>
  </div>
  <div class="right">
    <nav>
      <ul class="language-list">
        <li><a [class.language-list--active]="isActiveLocalization('en-US')" href="/en-US">en</a></li>
        <li><a [class.language-list--active]="isActiveLocalization('de')" href="/de">de</a></li>
        <li><a [class.language-list--active]="isActiveLocalization('fr')" href="/fr">fr</a></li>
        <li><a [class.language-list--active]="isActiveLocalization('ru')" href="/ru">ru</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="list">
  <div class="card">
    <h2 class="card__header"><ng-container i18n="@@coffeeShop">coffee shop: </ng-container><span>Starbucks</span></h2>
    <a routerLink="/about/1" class="card__img">
      <img src="assets/images/coffee.jpg" alt="cup of coffee">
    </a>
    <p class="card__description" i18n="@@cardDescription">Coffee is a brewed drink prepared from roasted coffee beans,
      the seeds of berries from
      certain Coffea species. ... Coffee is darkly colored, bitter, slightly acidic and has a stimulating effect in
      humans, primarily due to its caffeine content.</p>
  </div>
  <div class="card">
    <h2 class="card__header"><ng-container i18n="@@coffeeShop">coffee shop:</ng-container><span>Dream coffee</span></h2>
    <a routerLink="/about/2" class="card__img">
      <img src="assets/images/coffee2.jpg"
           alt="cup of coffee">
    </a>
    <p class="card__description" i18n="@@cardDescription">Coffee is a brewed drink prepared from roasted coffee beans,
      the seeds of berries from
      certain Coffea species. ... Coffee is darkly colored, bitter, slightly acidic and has a stimulating effect in
      humans, primarily due to its caffeine content.</p>
  </div>
  <div class="card">
    <h2 class="card__header"><ng-container i18n="@@coffeeShop">coffee shop:</ng-container> <span>Seeds coffee</span></h2>
    <a routerLink="/about/3" class="card__img">
      <img
        src="assets/images/coffee3.jpg"
        alt="cup of coffee">
    </a>
    <p class="card__description" i18n="@@cardDescription">Coffee is a brewed drink prepared from roasted coffee beans,
      the seeds of berries from
      certain Coffea species. ... Coffee is darkly colored, bitter, slightly acidic and has a stimulating effect in
      humans, primarily due to its caffeine content.</p>
  </div>
</div>

<router-outlet></router-outlet>
